.search input,
.search input {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: var(--clr-on-surface);
}

.search input::placeholder,
.search input::placeholder {
  color: var(--clr-on-surface-variant);
  font-size: 1rem;
}

.search input:focus-visible,
.search input:focus-visible {
  outline: none;
}

.search-view {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}

.search-results {
  width: 100%;
  height: calc(100% - 4.5rem);

  background-color: var(--clr-surface);

  position: absolute;
  top: 4.5rem;
}

.search-result-list h2 {
  margin: 1.5rem 0 1.5rem 1rem;
  font-size: 1.625;
}
