.search-view {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}

.search-results {
  width: 100%;
  height: calc(100% - 4.5rem);

  background-color: var(--clr-surface);

  position: absolute;
  top: 4.5rem;
}

.search-result-list h2 {
  margin: 1.5rem 0 1.5rem 1rem;
  font-size: 1.625;
}

.search-no-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;
  height: 100%;
  padding: 0 2rem;

  color: var(--clr-on-surface);

  text-align: center;
}

.search-no-results .icon {
  font-size: 2.5rem;
}

.search-no-results p {
  font-size: 1.125rem;
}
