.file-field {
  grid-row: span 3;
}

.image-container {
  width: 230px;
  height: 230px;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.image-container:hover img {
  scale: 1.1;
}

.file-field img {
  width: 230px;
  height: 230px;

  object-fit: cover;
  object-position: top;

  border-radius: 0.5rem;
  overflow-clip-margin: unset;
  overflow: hidden;

  cursor: pointer;
  transition: scale 0.15s ease-out;
}

.file-field img:hover {
  /* transform: scale(1.2); */
}

.file-field input {
  height: 2.5rem;
  margin-top: 0.5rem;
  width: 230px;

  color: transparent;

  position: absolute;

  cursor: pointer;
}

.file-field input::-webkit-file-upload-button {
  visibility: hidden;
}

.file-label {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2.5rem;

  color: var(--clr-primary);
  font-weight: 700;
  cursor: pointer;
}

/* .file-field input::before {
  content: "Seleccionar imagen";
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 2.5rem;
  padding: 0 1rem;

  color: var(--clr-primary);
  font-weight: bold;
  font-size: 1rem;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
} */
