.file-field {
  grid-row: span 3;
}

.image-container {
  width: 230px;
  height: 230px;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.file-field:hover img {
  scale: 1.1;
}

.file-field:hover .file-label {
  background-color: var(--state-layer-primary-16);
}

.file-field img {
  width: 230px;
  height: 230px;

  object-fit: cover;
  object-position: top;

  border-radius: 0.5rem;
  overflow-clip-margin: unset;
  overflow: hidden;

  cursor: pointer;
  transition: scale 0.15s ease-out;
}

.file-field input {
  height: 2.5rem;
  margin-top: 0.5rem;
  width: 230px;

  color: transparent;

  position: absolute;

  cursor: pointer;
}

.file-field input::-webkit-file-upload-button {
  visibility: hidden;
}

.file-label {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2.5rem;

  color: var(--clr-primary);
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
}
