.no-table {
  padding: 2.5rem 5rem;
  margin: 1.5rem 2rem 0;

  color: var(--clr-on-surface);
  background-color: var(--clr-surface-container);
  border-radius: 1rem;
  text-align: center;
}

.no-table .icon {
  font-size: 1.125rem;
}

.no-table p {
  margin: 1rem 0;
}
