.main-pane {
  grid-area: main-pane;

  background-color: var(--clr-surface);

  height: calc(100vh - 3rem);
  border-radius: 1.5rem;

  overflow: hidden scroll;
  scrollbar-width: none;
  text-align: left;
}

.main-section h1 {
  padding: 1.5rem 1rem;
}

.main-section .list {
  background-color: var(--clr-surface-container);
}
