.personal-data {
  display: flex;
  gap: 1rem;

  width: 100%;
  padding: 1rem 2rem 2.5rem;
}

.personal-data img {
  width: 350px;
  height: 350px;

  object-fit: cover;
  object-position: top;

  border-radius: 0.5rem;
}

.personal-data-content {
  flex-grow: 1;
  text-align: left;
}

.personal-data-content ul {
  list-style-type: none;
  margin: 1rem 0 1.5rem;
}

.personal-data-content li {
  margin-bottom: 0.5rem;
}

.contact-buttons-container button:first-child {
  margin-right: 1rem;
}
