.progress-segment {
  height: 0.25rem;
  background-color: var(--clr-secondary-container);
}

.progress-segment.start {
  border-radius: 0.25rem 0 0 0.25rem;
}

.progress-segment.end {
  border-radius: 0 0.25rem 0.25rem 0;
}

.progress-segment.both {
  border-radius: 0.25rem;
}

.progress-segment.filled {
  background-color: var(--clr-secondary);
}
