.resource-carrousel {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;

  padding: 0.25rem;

  overflow-x: scroll;
  scrollbar-gutter: stable;
}

h3:has(~ .resource-carrousel) {
  text-align: left;
}

.resource-carrousel .input-card {
  flex-shrink: 0;
}
