.details-pane {
  grid-area: details-pane;
  background-color: var(--clr-surface);

  height: calc(100vh - 3rem);
  margin: 0 1.5rem;
  border-radius: 1.5rem;

  position: relative;

  overflow: hidden scroll;
  scrollbar-width: none;
}

.details-section > article {
  padding: 1.5rem 2rem;
  text-align: left;
}

.details-section > article > h2,
.details-section > article > h3 {
  margin-bottom: 1.5rem;
  text-align: left;
}

.details-section > article li.text-item {
  margin-bottom: 0.5rem;
}

.content-block {
  margin-bottom: 2rem;
}
