.card {
  padding: 2.5rem 5rem;

  color: var(--clr-on-surface);
  background-color: var(--clr-surface-container);
  text-align: center;
}

.card .icon {
  font-size: 1.125rem;
}

.card p {
  margin: 1rem 0;
}
