.patients-pane {
  height: inherit;
  position: relative;

  padding: 1rem 0;
}

.patients-pane h1 {
  padding: 0 1rem;
}

.patients-pane ul {
  background-color: var(--clr-surface-container-low);
  margin: 1rem 0;
}

.query-buttons {
  padding: 0.5rem 1rem 1rem;
}
