.current-stage {
  margin-bottom: 0.5rem;
}

.progress-bar {
  appearance: none;

  width: calc(100% - 4rem);
  height: 0.25rem;

  overflow: hidden;
}

.progress-bar::-webkit-progress-bar {
  border-radius: 0.25rem;
  background-color: var(--clr-secondary-container);
}

.progress-bar::-webkit-progress-value {
  border-radius: 0.25rem;
  background-color: var(--clr-secondary);
}
