.main-pane {
  grid-area: main-pane;

  background-color: var(--clr-surface);

  height: calc(100vh - 3rem);
  border-radius: 1.5rem;

  overflow: hidden scroll;
  scrollbar-width: none;
  text-align: left;
}
