.search {
  display: grid;
  grid-template-columns: 1fr 3.5rem;
  align-items: center;

  height: 3.5rem;
  width: 100%;
  border-radius: 1rem;
  padding: 0 0.25rem 0 1rem;

  background-color: var(--clr-surface-container-highest);
  color: var(--clr-on-surface-variant);
}

.search input {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: var(--clr-on-surface);
}

.search input::placeholder {
  color: var(--clr-on-surface-variant);
  font-size: 1rem;
}

.search input:focus-visible {
  outline: none;
}
