.consultation-techniques {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.used-technique {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--clr-surface-container);
  border-radius: 0.5rem;
}

.used-technique img {
  height: 128px;
  width: 128px;

  object-fit: cover;
  object-position: top;

  border-radius: 0.5rem;
  overflow-clip-margin: unset;
  overflow: hidden;
}

.used-technique div {
  padding: 0.5rem;
}

.used-technique div * {
  text-align: left;
  margin-bottom: 0.25rem;
}
