.search-bar {
  display: grid;
  grid-template-columns: 1fr 3.5rem;
  align-items: center;

  height: 3.5rem;
  width: calc(100% - 2rem);
  border-radius: 1rem;
  padding: 0 0.25rem 0 1rem;
  margin: 0 1rem 1rem;

  background-color: var(--clr-surface-container);
  color: var(--clr-on-surface-variant);
}

.search-bar,
.searchbar * {
  cursor: pointer;
}

.search input,
.search input {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: var(--clr-on-surface);
}

.search input::placeholder,
.search input::placeholder {
  color: var(--clr-on-surface-variant);
  font-size: 1rem;
}

.search input:focus-visible,
.search input:focus-visible {
  outline: none;
}
