.birth {
  padding: 1.5rem 2rem;
}

.birth h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.birth-data {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.5rem;

  color: var(--clr-on-surface-variant);
}

.bazi-table {
  width: 100%;
}

caption {
  opacity: 0;
}

.bazi-table tr {
  width: 100%;

  margin-top: 0.5rem;
}

.bazi-table td,
.bazi-table th {
  height: 2.5rem;
  min-height: 2.5rem;
  border: thin solid var(--clr-outline-variant);

  background-color: var(--clr-surface-container-low);
}

.bazi-table th.empty-cell {
  border: none;
  background-color: transparent;
}

.bazi-table td {
  color: var(--clr-on-surface-variant);
}

.bazi-table th:not(.empty-cell) {
  color: var(--clr-on-surface);
  font-weight: 400;
}
