.birth {
  padding: 1.5rem 2rem;
}

.birth h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.birth-data {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.5rem;

  color: var(--clr-on-surface-variant);
}
