.add-patient-pane {
  padding-bottom: 2rem;
}

.add-patient-pane header {
  margin-bottom: 1.5rem;
}

.required-fields-tip {
  text-align: left;
  margin-top: 1.5rem;
  padding: 0 2rem;
  color: var(--clr-on-surface-variant);
  font-size: 0.875rem;
}
