.add-bazi-table-pane .add-header {
  margin-bottom: 1rem;
}

.add-bazi-table-pane h2 {
  margin-top: 1rem;
  text-align: left;
  padding: 0 2rem;
}

.add-bazi-table-pane .bazi-table {
  width: calc(100% - 4rem);
  margin: 1rem 2rem 0;
}

.add-bazi-table-pane .patient-details-preview {
  margin: 0 2rem;
}
